@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="display-1">Observatory Control</h1>
    <p class="lead">
        Allowing remote control observatories using open-source and expandable code and hardware.
    </p>

    <div class="row">
        <div class="col-4 justify-content-center">
            <center><i class="fa fa-book fa-5x" style="margin-bottom: 5px;"></i></center>
            <p>
                <strong>Aimed at schools and universities</strong> aiming to upgrade their observatory
                to a remote one. Building the prototype on a school observatory, we hear the operators' feedback
                and plan everything accordingly to insure that ease of use and user experience are not colliding with
                expandable functionality.
            </p>
        </div>

        <div class="col-4 justify-content-center">
            <center><i class="fa fa-calendar-check-o fa-5x" style="margin-bottom: 5px;"></i></center>
            <p>
                <strong>Schedule automatic observations</strong> to utilize the observatory as much as possible, even
                when the operators are on vacation or aren't present. 
            </p>
        </div>

        <div class="col-4 justify-content-center">
            <center><i class="fa fa-user-circle-o fa-5x" style="margin-bottom: 5px;"></i></center>
            <p>
                <strong>Users have permissions</strong> that give them priority over others, i.e.
                a Ph.D student will get higher priority than a high-school student using the same observatory.
            </p>
        </div>
        
    </div>

